{{extend 'layout.html'}}

<h1>{{=title}}</h1>

<div id="write_msg" style="display: none">
  {{=form}}
</div>

<div id="write_button_area">
  <a class="btn btn-primary btn-lg outline" id="button_write"><i class="fa fa-plus"></i> Write a message</a>
    <a>{{=back_button}}</a>
</div>
{{=grid}}


<script>
$(function() {
  $("#button_write").click(function(e) {
    $("#write_msg").slideDown();
    $("#write_button_area").hide();
  });
  $("form button").click(function(e) {
    $("#write_msg").slideUp();
    $("#write_button_area").show();
  })
})
</script>