{{extend 'layout.html'}}

 <center>

<div class="container">
  <div class="jumbotron">
    <h1>tailorMe</h1>
    <p>We hope to enables users to insert measurements, compare, decide, and ultimately make informed purchases of properly fitting attire, accessories, and more!</p>
  </div>
  <p>Feel free to look at reviews, message other users, or create your own profile!</p>
  <p></p>
</div>

{{if auth.user_id is None:}}

       {{else:}}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="index">Home</a></li>
        <li>{{=A('Profile', _href=URL('default', 'profile', user_signature=True))}}</li>
        <li><a href="people">Messages</a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="user/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

{{pass}}
</center>



<center>





{{if auth.user_id is None:}}
<div id="main_login">
{{=A('Sign In', _class='btn btn-primary btn-lg outline', _href=URL('default', 'user', args=['login']))}}
{{=A('Sign Up', _class='btn btn-primary btn-lg outline', _href=URL('default', 'user', args=['register']))}}
</div>

    {{else:}}
<div id="doreview">
{{=A('Write a review', _class='btn btn-primary btn-lg outline', _href=URL('default', 'show_store'))}}
</div>


 <h3>Recent reviews:</h3>


 </center>



 <div class="recent">
     <div class="image">Image here</div>
     <div class="review"><span>Review of store</span></div>
</div>

{{pass}}
