/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 6, ../sass/_main.scss */
.btn .fa {
  padding-right: 0.5em;
}

/* line 11, ../sass/_main.scss */
.msg_content {
  white-space: pre-wrap;
}

/* line 16, ../sass/_main.scss */
#doreview, #main_login {
  margin-top: 75px;
  margin-bottom: 100px;
}

/* Headers */
/* line 23, ../sass/_main.scss */
h1 {
  color: #269abc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  font-weight: 200;
  letter-spacing: 3px;
  line-height: 50px;
  margin-bottom: 15px;
  margin-top: 0px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

/* line 36, ../sass/_main.scss */
h2 {
  color: #265a88;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 25px;
  margin: 0 0 10px;
  text-align: center;
  padding: 20px;
}

/* line 47, ../sass/_main.scss */
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Buttons */
/* line 53, ../sass/_main.scss */
.btn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding: 14px 24px;
  border: 0 none;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px;
}

/* line 64, ../sass/_main.scss */
.btn-primary {
  background: #bbbbbb;
  color: #ffffff;
}

/* line 69, ../sass/_main.scss */
.btn.outline {
  background: none;
  padding: 10px 20px;
}

/* line 74, ../sass/_main.scss */
.btn-primary.outline {
  border: 2px solid #bbbbbb;
  color: #269abc;
}

/* Navbar */
/* line 81, ../sass/_main.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #269abc;
  /*Sets the text hover color on navbar*/
}

/* line 85, ../sass/_main.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: black;
  /*BACKGROUND color for active*/
  background-color: #030033;
}

/* Review div */
/* line 93, ../sass/_main.scss */
.recent {
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #FFFAFA));
  background-image: -moz-linear-gradient(#ffffff, #FFFAFA);
  background-image: -webkit-linear-gradient(#ffffff, #FFFAFA);
  background-image: linear-gradient(#ffffff, #fffafa);
  padding: 50px;
  margin: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #EBEBEB;
  -webkit-box-shadow: 0px 0px 17px 5px #c7c5c7;
  -moz-box-shadow: 0px 0px 17px 5px #c7c5c7;
  box-shadow: 0px 0px 17px 5px #c7c5c7;
  vertical-align: top;
  display: inline-block;
}

/* line 112, ../sass/_main.scss */
.image {
  float: left;
  width: 100px;
  height: 50px;
  margin: 10px;
  border: 3px solid #269abc;
}

/* line 120, ../sass/_main.scss */
.review {
  border: 1px solid black;
  float: right;
  width: 200px;
  height: 50px;
  margin: 10px;
}

/* */
